{% extends "_layout.html" %}
{% block content %}
    <h1>{{current_user.username}}</h1>

    <img src="{{current_user.profile_image_url}}"  height="200" width="200"/>

    <form action={{url_for('users.upload_mainimage', username=current_user.username)}} method="POST" enctype="multipart/form-data">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="user_file">Upload Your File</label>
        <br></br>
        <input type="file" name="user_file">
        <br></br>
        <button type="submit">Upload</button>

    </form>
    {% for i in current_user.images %}
    <img src="{{i.image_url}}"  height="200" width="200" style="display:inline-block; margin:10px"/>
    {% endfor %}
{% endblock %}